body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #1f2937;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
    padding: 18px 0px;
}

.hero-text,
.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-header {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-btn {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    margin-top: 10px;
    padding: 10px 22px;
    border-radius: 8px;
    font-weight: 900;
}

.my-nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 420px;
}

.header-links {
    display: flex;
    padding: 18px;
    gap: 20px;
}

.hero-list {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    margin-bottom: 60px;
}

.hero-content {
    width: 450px;
}

.hero-text {
    padding: 5px 0px;
}

.facts-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.facts {
    display: flex;
    margin: 40px 0px;
    gap: 50px;
}

.fact {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fact-img {
    border: #3882f6 solid 5px;
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

.fact-text {
    margin-top: 15px;
    text-align: center;
}

.section-three {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blockquote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.blockquote {
    display: flex;
    flex-direction: column;
    padding: 90px 0px;
    width: 800px;
}

.blockquote-author {
    font-weight: bold;
    align-self: flex-end;
    font-size: 24px;
}

p {
    margin: 0;
    padding: 0;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
}

.action-container {
    background-color: #3882f6;
    padding: 40px 120px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
}

.action-header {
    color: #f9faf8;
}

.action-header {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 2px;
}

.action-subtext {
    color: #e5e7eb;
}

.action-btn {
    background: none;
    margin: 0;
    padding: 0;
    color: #f9faf8;
    border: #f9faf8 solid 2px;
    padding: 7px 30px;
    border-radius: 8px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.fact-img {
    overflow: hidden;
}